/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info h2 {
    text-align: center;
}


.header {
    background-color: #2a557f;
    width: 100%;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header h1 {
    margin: 0;
}

.logout {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.profile-info, .summary, .actions {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.profile-info, .summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info h2, .summary h2 {
    margin-top: 0;
}

.profile-photo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6bc2c5;
    margin-bottom: 10px;
    
}

.profile-photo input[type="file"] {
    display: none;
}

.uploadp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bc2c5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #2a557f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
}

button:hover {
    background-color: #1d3e5c;
}
