/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita cualquier desplazamiento horizontal */
}

body {
    background-color: #f0f2f5;
    background-image: url('../img/fondoblanco4.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Contenedor interior */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1778px;
    width: 100%;
}

/* Logo */
.menu-icono{
    margin-left: -30px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #FF69B4;
}


/* Estilos del contenido principal */
main {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.section {
    margin-bottom: 60px;
}

.main-title {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section-description {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.benefits-section {
    text-align: center;
}

.benefit-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.benefit-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.benefit-item:hover {
    transform: translateY(-10px);
}

.benefit-item i {
    font-size: 30px;
    color: #FF69B4;
    margin-bottom: 10px;
}

.benefit-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.benefit-item p {
    font-size: 14px;
    color: #777;
}

/* Tarjeta para Abordaje Terapéutico */
.therapeutic-approach-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.approach-definition {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.approach-list {
    list-style-type: none;
    padding-left: 20px;
}

.approach-list li {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
}

.approach-list li i {
    position: absolute;
    left: 0;
    color: #FF69B4;
}

/* Footer */
footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: #333;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer .container {
    max-width: 1200px; /* Ajusta el ancho máximo según el diseño de tu página */
    margin: 0 auto;
    padding: 0 20px; /* Relleno en los lados */
}

footer .container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-icon {
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #FF69B4;
}


/* Responsive Design */
@media (max-width: 768px) {
    .benefit-container {
        grid-template-columns: 1fr;
    }
}
